#header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#aboutStore {
  display: flex;
  padding-left: 1em;
  padding-top: 1em;
  width: 10em;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

#gmailImagesApps {
  display: flex;
  justify-content: space-around;
  padding-right: 1em;
  padding-top: 1em;
  width: 10em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

#searchBox {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

#searchBox img {
  display: flex;
  height: 2rem;
  width: 2rem;
}

#searchButtons {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  text-decoration: none;
}

#searchBox input {
  display: flex;
  width: 30vw;
}
